<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Warehouse/registerWarehouse.css">
    <title>Document</title>
</head>
<body>

<div th:insert="~{navbar :: navbar}"></div>


<br><br><br><br>
<h1 id="title">Edit Warehouse</h1>
<br><br>

<form action="/editWarehouse2" method="post" class="forms">

    <p><label for="id">Id:</label><br><input type="number" name="id" id="id" required></p>
    <p><label for="stock">Stock:</label><br><input type="number" name="stock" id="stock" required></p>
    <p><label for="address">Address:</label><br><input type="text" name="address" id="address" required></p>

    <p><input type="submit" value="Send" id="send">

</form>
</body>
</html>