<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>
<body>

    <div th:insert="~{navbar :: navbar}"></div>

    <img src="https://images.squarespace-cdn.com/content/v1/5a86c8126957da8e16ef2e57/1687963075021-3P9Z89O8HLTQMBEOXJ31/tela_macbook_frente_wide.gif">

</body>
</html>