<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/error.css">
    <title>Home</title>
</head>
<body>

<div class="return">
    <h1>There was an internal error</h1>
    <img id="img" src="https://apollo.ppay.me/assets/design-system/figures/apollo-02/feedback-no-geo-coverage.svg">
    <a href="/" id="return">Return</a>
</div>

</body>
</html>